// Core colors
$black: #000000;
$white: #ffffff;

//Common
$body-bg: #ececee;
$body-text: #2f2f2f;
$header-text-color: #ff5a00;
$benefit-icon-border: #fe6b1f;
$shop-btn-color: #ea6700;

// Top strip
$top-strip-bg: $black;

// Section
$top-section-highlight-text-color: $white;
$top-section-highlight-bg-color: $black;

// Footer
$footer-bg: #252525;
$footer-copy-right-text-color: gray;
$footer-info-container-border-color: #32322f;
$footer-main-container-text: $white;
