.landing-footer{
    background-color: $footer-bg;

    .copyright-container{
        .copyright-text{
            color: $footer-copy-right-text-color;
        }
    }

    .info-container{
        color: $header-text-color;
        font-size: 0.8em;

        .info-container-row{
            width: 100%;
        }
    }
}