.landing-footer{
    background-color: $footer-bg;

    .copyright-container{
        .copyright-text{
            color: $footer-copy-right-text-color;
        }
    }

    .main-container{
        color: $footer-main-container-text;
        border-bottom: 1px solid $footer-info-container-border-color;

        .main-container-header{
            position: relative;
            &:after{
                content: '';
                position: absolute;
                left: 0;
                bottom: -5px;
                height: 2px;
                background: $footer-main-container-text;
                width: 30px;
            }
        }

        .main-container-list{
            list-style: none;
            li{
                a{
                    color: $footer-main-container-text;
                    font-size: 0.7em;
                }
            }
        }

        .main-container-icon-strip{

            &.add-padding{
                .main-container-icon-item{
                    padding-right: 15px;
                }
            }
        }

        .newletter-form{
            margin-top: 30px;
            background: #fff;
            padding: 6px 10px;
            position: relative;

            .email{
                border: 0;
                padding: 4px;
                width: calc(100% - 110px);
            }

            .submit{
                background-color: #29363c;
                color: $white;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                border: 0;
                font-size: 16px;
                padding: 0 20px;
            }
        }

        .find-us-container{
            
        }
    }

    .info-container{
        color: $header-text-color;
        font-size: 0.8em;
        border-bottom: 1px solid $footer-info-container-border-color;

        .info-container-row{
            width: 100%;

            .info-container-col{
                &:last-child{
                    border-right: none;
                }
                border-right: 1px solid $footer-info-container-border-color;
            }
        }
    }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .landing-footer{
        .main-container{
            .find-us-container{
                margin-top: 1.5rem;
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (min-device-width: 576px) and  (max-width: 767.98px) {
    .landing-footer{
        .main-container{
            .find-us-container{
                margin-top: 1.5rem;
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (min-device-width: 768px) and (max-width: 991.98px) {
    .landing-footer{
        .main-container{
            .find-us-container{
                margin-top: 1.5rem;
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (min-device-width: 992px) { }